*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Libre Baskerville;
}

.blog{
    border: 2px solid rgb(9, 37, 35);
    border-radius: 5px 5px 15px 15px;
    max-width: 300px;
    margin: 50px auto 0;
    height: 480px;
    /* background-color: rgba(145, 235, 236, 0.564); */
    background: linear-gradient(90deg, #f2e3e3,#f9f8fb,#e0d9f2);
}
.style {
    text-align: center;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000;
}
.wind, .speed, .pressure{
    margin-bottom: 10px;

}
.temperature, .icon, .disclaimer{
    margin-bottom: -10px;
    color: rgb(0, 0, 0);
}
.temperature{
    font-size: 40px;
    margin-top: -10px;
}
.disclaimer{
    font-weight: 700;
}
.icon{
    text-align: center;
}
.out{
    margin: 0 auto ;
    display: flex;
    justify-content: center;
}
.image{
    max-width: 400px;
    height: 260px;
    background-position: center;
    margin-bottom: 30px;
}
.weather{
    margin: 0 auto;
    padding-top: 60px;
    border: 1px solid rgba(89, 159, 49, 0) ;
    width: 150px;
    height: 198px;
    background: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(3px);
}
